.jsomElement {
    display: flex;
}


.jsomStyle_scrollable {
    overflow: auto;
}




.jsomStyle_left {
    justify-content: flex-start;
}

.jsomStyle_center {
    justify-content: center;
}

.jsomStyle_right {
    justify-content: flex-end;
}




.jsomStyle_top {
    align-items: flex-start;
}

.jsomStyle_middle {
    align-items: center;
    align-content: center;
}

.jsomStyle_bottom {
    align-items: flex-end;
}




.jsomStyle_fill {
    flex: 1;
}

.jsomStyle_wrap {
    flex-wrap: wrap;
}




.jsomStyle_ttb {
    flex-direction: column;
}

.jsomStyle_btt {
    flex-direction: column-reverse;
}




.jsomStyle_sb {
    justify-content: space-between;
}

.jsomStyle_sa {
    justify-content: space-around;
}


.jsomStyle_se {
    justify-content: space-evenly;
}

